.booking-widget {
  background: #fff;
  border-radius: 8px !important;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 6px 30px rgba(0,0,0,0.25) !important;

  .bottom-row {
    .search-btn {
      background-color: #0d47a1;
      color: #fff;
      font-weight: 700;
      font-size: 1.1rem;
      border-radius: 28px;
      text-transform: none;
      transition: 0.3s ease all;

      &:hover {
        background-color: #002171;
      }
    }
  }

  .flight-card {
    margin-top: 16px;
    padding: 16px 20px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eee;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
      border-color: #0d47a1;
    }
  }
}
