/*/*/node_modules/
/*/node_modules/
/*/*/dist/
*.log
/client/*/package-lock.json
/*/*/.DS_store
/*/.DS_store
/.DS_store
/*/*/yarn.lock
/*/*/.env
*.env
*.env.production
/server/public/uploads/checkin/**
/server/public/uploads/.DS_store
/metacook.in.key
/metacook.in.pem