.booking-widget {
  max-width: 330px;
  @media (min-width: 599px) and (max-width: 768px) {
    max-width: 600px;
  }

  @media (min-width: 769px) {
    max-width: 1200px;
    padding-left: 24px;
    padding-right: 24px;
  }
  margin: auto;

  .booking-widget-container {
    background: #fff;
    border-radius: 8px !important;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.25) !important;

    .item-card {
      .date-selector {
        min-height: 105px;
      }
      .passenger-selector {
        min-height: 105px;
      }

      h6 {
        font-size: 13px;
        @media (min-width: 599px) and (max-width: 768px) {
          font-size: 14px;
        }
        @media (min-width: 769px) and (max-width: 1024px) {
          font-size: 16px;
        }
        @media (min-width: 1025px) {
          font-size: 18px;
        }
      }
      p {
        font-size: 12px;
      }
    }
  }
  .destination-container {
    background: #fff;
    border-radius: 50px !important;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.25) !important;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    
    @media (min-width: 769px) {
        max-width: 300px;
      }
  }
}
