.recommendation {
  .swiper {
    height: 400px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
    font-weight: 600;
  }
  
  /* Optional: bigger icons */
  .swiper-button-next::after,
  .swiper-button-prev::after {
    border: 3px solid lightblue;
    box-shadow: 0 0.25rem 1.875rem 0 rgba(0, 0, 0, 0.5);
    color: #009;
    width: 1.875rem;
    align-items: center;
    background: hsla(0, 0%, 100%, 0.5);
    border-radius: 50%;
    display: flex;
    font-size: 1rem;
    font-weight: 800;
    height: 1rem;
    justify-content: center;
    opacity: 0.75;
    padding: 0.75rem;
  }
  
  .swiper-slide {
    height: 100%;
  }
}
