.dashboard-page {
  .banner-image {
    height: 500px !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .booking-widget {
    margin-top: -32px;
    position: relative;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
    font-weight: 600;
  }
  
  /* Optional: bigger icons */
  .swiper-button-next::after,
  .swiper-button-prev::after {
    box-shadow: 0 0.25rem 1.875rem 0 rgba(0, 0, 0, 0.5);
    color: #009;
    width: 2rem;
    align-items: center;
    background: hsla(0, 0%, 100%, 0.5);
    border-radius: 50%;
    display: flex;
    font-size: 1.2rem;
    font-weight: 800;
    height: 2rem;
    justify-content: center;
    opacity: 0.75;
    padding: 0.75rem;
  }
  
  .swiper {
    height: 300px;
  }
  
  .swiper-slide {
    height: 100%;
  }
}

