.dashboard-page {
  .banner-image {
    height: 500px !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .booking-widget {
    margin-top: -32px;
    position: relative;
  }
}
