.search-flight-main {
    .border-right {
      border-right: 1px dotted gray;
    }

  .flight-search {
    .swiper-button-next,
    .swiper-button-prev {
      color: #000;
      font-weight: 600;
    }

    /* Optional: bigger icons */
    .swiper-button-next::after,
    .swiper-button-prev::after {
      box-shadow: 0 0.25rem 1.875rem 0 rgba(0, 0, 0, 0.5);
      color: #009;
      width: 2rem;
      align-items: center;
      background: hsla(0, 0%, 100%, 0.5);
      border-radius: 50%;
      display: flex;
      font-size: 1.5rem;
      font-weight: 800;
      height: 1.5rem;
      justify-content: center;
      opacity: 1;
      padding: 1rem;
    }

    .swiper {
      height: 100px;
      
      .swiper-wrapper {
        height: 80px;
      }
    }

    .swiper-slide {
      height: 100%;
    }
  }
}
